@import ./variable.sass

body
    color: $idr
    margin: 0

#fond
    background: url(../img/bg.jpg)
    height: 700vh
.contain
    margin: 0 11%

#titre
    color: white
    div:nth-child(1)
        padding-top: 10%
        text-align: center
        font-size: 4em
    div:nth-child(2)
        text-align: center
        font-weight: 100
    

    
    
#one
    margin-top: 5%
    background-color: white
    .o
        padding: 4% 0
        .titreO
            text-align: center
            color: black
            font-weight: bold
            font-size: 2em
            margin-bottom: 1%
        .ligneO
            height: 1px 
            background-color: $idr
            width: 150px
            margin: auto
        .sousO
            margin-top: 1%
            text-align: center
            text-transform: uppercase
            letter-spacing: 3px
    
    .txtO
        padding: 5% 
        background-color: #cacaca32
    


#two
    background-color: #26242c
    padding: 7%
    .containT
        background-color: #161616
        .t
            padding: 3% 0
        .imgT
            display: flex
        .titreT
            text-align: center
            color: black
            font-weight: bold
            font-size: 2em
            margin-bottom: 1%
            color: white
            
        .sousT
            margin-top: 1%
            text-align: center
            text-transform: uppercase
            letter-spacing: 3px
        .ligneT
            height: 1px 
            background-color: $idr
            width: 150px
            margin: auto