body {
  color: #9f9f9f;
  margin: 0;
}

#fond {
  background: url(../img/bg.jpg);
  padding-bottom: 1%;
}

.contain {
  margin: 0 11%;
}

#titre {
  color: white;
}
#titre div:nth-child(1) {
  padding-top: 10%;
  text-align: center;
  font-size: 4em;
}
#titre div:nth-child(2) {
  text-align: center;
  font-weight: 100;
}

#one {
  margin-top: 5%;
  background-color: white;
}
#one .o {
  padding: 4% 0;
}
#one .o .titreO {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 1%;
}
#one .o .ligneO {
  height: 1px;
  background-color: #9f9f9f;
  width: 150px;
  margin: auto;
}
#one .o .sousO {
  margin-top: 1%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}
#one .txtO {
  padding: 5%;
  background-color: rgba(202, 202, 202, 0.1960784314);
}

#two {
  background-color: #26242c;
  padding: 7%;
}
#two .containT {
  background-color: #161616;
}
#two .containT .t {
  padding: 3% 0;
}
#two .containT .imgT {
  display: flex;
}
#two .containT .titreT {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 1%;
  color: white;
}
#two .containT .sousT {
  margin-top: 1%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}
#two .containT .ligneT {
  height: 1px;
  background-color: #9f9f9f;
  width: 150px;
  margin: auto;
}

#tree .flex {
  display: flex;
}
#tree .flex .imgTr {
  width: 50%;
}
#tree .flex .txtW {
  width: 50%;
  background-color: white;
  display: flex;
  align-items: center;
}
#tree .flex .txtW .titreF {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2%;
}
#tree .flex .txtB {
  width: 50%;
  background-color: #26242c;
  display: flex;
  align-items: center;
  text-align: end;
}
#tree .flex .txtB .titreFw {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2%;
}

footer {
  margin-top: 4%;
  text-align: center;
}
footer .icon {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}
footer .icon div {
  margin-left: 2%;
}

@media screen and (max-width: 376px) {
  #tree .flex {
    font-size: 20px;
    margin-top: 4%;
    display: block;
  }
  #tree .flex .imgTr {
    width: 100%;
  }
  #tree .flex .txtW {
    width: 100%;
  }
  #tree .flex .txtB {
    width: 100%;
  }
  #one {
    font-size: 20px;
  }
}